@{
    ViewData["Title"] = "My Podcast";
}
@model List<ApplicationResponse> 
<div class="text-center">
    <h1 class="display-4">Movie Collection</h1>
    <br />
    <br />
    <table class="table table-hover">
        <tr>
            <th>Category</th>
            <th>Title</th>
            <th>Year</th>
            <th>Director</th>
            <th>Rating</th>
            <th>Edited</th>
            <th>Lent To</th>
            <th>Notes</th>
        </tr>
        @foreach (var x in Model)
            {
    <tr>
        <td>@x.Category.CategoryName</td>
        <td>@x.Title</td>
        <td>@x.Year</td>
        <td>@x.Director</td>
        <td>@x.Rating</td>
        <td>@x.Edited</td>
        <td>@x.LentTo</td>
        <td>@x.Notes</td>

        <td><a asp-controller="Home" asp-action="Edit" asp-route-applicationid="@x.ApplicationId">Edit</a></td>
        <td><a asp-controller="Home" asp-action="Delete" asp-route-applicationid="@x.ApplicationId">Delete</a></td>

    </tr>
            }
    </table>
</div>
